body{
    padding: 50px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    
    gap: 30px;

    
}

button{
    padding: 20px;
    border: solid 5px;
    display: flex;
    cursor:pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.output{
    border: solid 1px;
    font-style: oblique;
    font-size: 50px;
    background-color: antiquewhite;

    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
}
